# Core & Agent Framework
langchain>=1.0,<2.0
langgraph>=1.0,<2.0
langchain-google-genai>=2.1.12

# 其他你需要的套件
fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pydantic
pydantic-settings
python-dotenv
psycopg2-binary
Pillow
apscheduler
pydantic[email]
google-generativeai